body {
  background-color: rgb(228, 221, 212);
}

p {
  padding: 5%;
  font-size: 1.5vw;
  color: grey;
}

h1 {
  font-size: 800%;
  text-align: center;
  color: aliceblue;
  padding: 10%;
  
 }

h2 {
  font-size: 5vw;
  color: aliceblue;
  border: none;
  border-radius: 3em;
  background-color: rgb(127, 225, 250);
  text-align: center;
  
}

h3 {
  font-size: 4vw;
  text-align: center;
  color: aliceblue;
  border: none;
}

#form1 {
  color: grey;
  font-size: 150%;
  padding: 1.5em;
}

#form {
  background-color: white ;
}

table, th, td {
  font-size: 2vw;
  color: grey;
  border-style: solid;
  border-color: darkcyan;
  border-width: .1em;
  padding: 5px;
  background-color: aliceblue;
  
}

#table {
  margin-top: 5%
}
/*
ul {
  font-size: 1.75em;
  color: grey;
}
*/
#submit1 {
  font-size: 150%;
  color: grey;
  border-style: solid;
  border-color: darkcyan;
  border-width: thick;
  border-radius: .5em;
  background-color: aliceblue;
  /*padding: .3em;*/
}

#img1 {
  background-image: url("images/Wilderness_photo.jpeg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: cover;
  border-radius: 5rem;
  margin-top: 7%;
  margin-bottom: 7%;
}

#double {
  border: none;
  border-radius: 3em;
  background-color: rgb(127, 225, 250);
  margin: auto;
}

#textstyle {
  font-size: 1.5vw;
  color: grey;
  padding-left: 10%;
}

#jsbutton {
  font-size: 150%;
  color: grey;
  background-color: aliceblue;
  border-radius: .5em;
  border-style: solid;
  border-color: darkcyan;
  border-width: thick;
}

#compSkills {
  color: grey;
  font-size: 200%;
  
}
    