
body {
  /*background-color: rgb(228, 221, 212);*/
}

img {
  max-width: 100%;
  height:auto;
}

.imageright1 {
  width: 25vw;
  height: 40vh;
  margin-right: 10vh;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

p {
  padding-left: 4rem; padding-right: 4rem;
  font-size: 150%;
  color: grey;
}

h1 {
  font-size: 800%;
  color: aliceblue;
  padding: 9vh
 }

h2 {
  font-size: 600%;
  color: aliceblue;
  border-style: solid; 
  border-radius: 5vh;
  border-color: darkcyan;
  border-width: .1em;
  background-color: rgb(104, 217, 245);
  margin-right: 50%;
  text-align: center;

}

h3 {
  font-size: 500%;
  text-align: center;
  color: aliceblue;
}

#form1 {
  color: grey;
  font-size: 150%;
  padding: 1.5em;
}

#form {
  background-color: rgb(252, 241, 227);
}

table, th, td {
  font-size: 1.4em;
  color: grey;
  border-style: solid;
  border-radius: 1em;
  border-color: darkcyan;
  border-width: .1em;
  padding: .6em;
  background-color: aliceblue;
  border-collapse: collapse;
}

#table {
  margin: 2em;
}

ul {
  font-size: 1.75em;
  color: grey;
  
}

#submit1 {
  font-size: 150%;
  color: grey;
  border-style: solid;
  border-color: darkcyan;
  border-width: thick;
  border-radius: .5em;
  background-color: aliceblue;
  padding: .3em;
}

.container {
  border: .7em solid darkcyan;
  border-radius: 5vh;
  background-color: rgb(104, 217, 245);
  margin: 10vh;
}

.col-5 {
  border: .6em solid darkcyan;
  border-radius: 5vh;
  background-color: rgb(104, 217, 245);
  margin-top: 10vh;
  margin-left: 10vh;
}
    