body {
  background-color: rgb(228, 221, 212);
}

p {
  padding-left: 4rem; padding-right: 4rem;
  font-size: 150%;
  color: grey;
}

h1 {
  font-size: 800%;
  text-align: center;
  color: aliceblue;
  padding: 10%;
  
 }

h2 {
  font-size: 5rem;
  color: aliceblue;
  border-style: solid; 
  border-radius: 5rem;
  border-color: rgb(86, 155, 155);
  border-width: .1em;
  background-color: rgb(127, 225, 250);
  margin-right: 50%;
  text-align: center;
  position: relative;
}

h3 {
  font-size: 5rem;
  text-align: center;
  color: aliceblue;
}

#form1 {
  color: grey;
  font-size: 150%;
  padding: 1.5em;
}

#form {
  background-color: white ;
}

table, th, td {
  font-size: 1.4em;
  color: grey;
  border-style: solid;
  border-radius: 1em;
  border-color: darkcyan;
  border-width: .1em;
  padding: .6em;
  background-color: aliceblue;
  border-collapse: collapse;
}

#table {
  margin: 2em;
}

ul {
  font-size: 1.75em;
  color: grey;
}

#submit1 {
  font-size: 150%;
  color: grey;
  border-style: solid;
  border-color: darkcyan;
  border-width: thick;
  border-radius: .5em;
  background-color: aliceblue;
  padding: .3em;
}
/* #img1 is complete except the img quality*/ 
#img1 {
  background-image: url("images/Wilderness_photo.jpeg");
  background-repeat: no-repeat;
  background-attachment: relative;
  background-size: 100% 100%;
  border-radius: 5rem;
}

.container {
  margin: 5%;
}

.col-5 {
  border: .6em solid rgb(86, 155, 155);
  border-radius: 5vh;
  background-color: rgb(127, 225, 250);
  margin-top: 10vh;
  margin-left: 10vh;
}


    